{{- if or (eq .Values.installMode "server") (eq .Values.installMode "all") }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "fencemaster.fullname" . }}
  labels:
    {{- include "fencemaster.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "fencemaster.selectorLabels" . | nindent 4 }}
{{- end }}
